.modeToggle{
    background-color: #fff;
    border:2px solid black;
    font-size: 1rem;
    cursor: pointer;
    width: 250px;
}
.modeToggle:hover{
    background-color: #C9B8B8;
}
.addressSearchContainer{
    width: 50vw;
    display: flex;
}
.selected{
    background-color: #C9B8B8;
    border:2px solid black;
    font-size: 1rem;
    cursor: pointer;
    width: 250px;
}
.selected:hover{
    background-color: #0AB28B;
    color: black;
}