.container1{
    height: 600px;
    width: 50vw ;
    box-sizing: border-box;
    position: relative;
}
.container2{
    height: 75vh;
    width: 86.8vw ;
    box-sizing: border-box;
    position: relative;
}